@import '~@angular/material/theming';
@import '../theme.scss';
// Define a custom mixin that takes in the current theme
.container {
  padding-top:100px;
  min-height: 100%;
  width: 100%;
  flex-wrap:wrap;
}

canvas{
  width:100% !important;
  height:200 !important;
}
.card-device {
  min-width: 320px;
  width: 20%;
  margin-bottom: 0.5%;
  padding: 0;
}

a {
  cursor: pointer;
}

.card-device-header-online{
  padding-top: 4%;
  padding-right: 4%;
  background-color: mat-color($primary);
  color: $text-color;
}

.card-device-header-offline{
  padding-top: 4%;
  padding-right: 4%;
  background-color: gray;
}

.material-icons.md-light { color: rgb(21, 247, 0); }
