@import '../styles';

@include mat-core();

// Define a theme.
$primary: mat-palette($mat-deep-purple);
$accent:  mat-palette($mat-amber, A200, A100, A400);
$theme-warn:    mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent);
$foreground: map-get($theme, foreground);
$text-color: white;