<div>
  <br>
      <div class="container" fxLayout="row"  fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" >
        <mat-card class="card-device" *ngFor="let device of monitoringDevices">
          <mat-card-header>
            <mat-card-title class="card-device-title" fxLayout.gt-xs="row" fxLayout.xs="column">
              Device Address: {{device.address}}
            </mat-card-title>
            <mat-card-subtitle>
              {{device.location}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          
        </mat-card-content>
        </mat-card>
      </div>
</div>