@import '~@angular/material/theming';
@import '../theme.scss';
// Define a custom mixin that takes in the current theme

.container {
  padding-top:10px;
  display:block; 
  overflow:auto;
  width: 100%;
  //flex-wrap:wrap;
}


a {
  cursor: pointer;
}


.material-icons.md-light { color: rgb(21, 247, 0); }
